* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Comic Neue', cursive;
  background: rgb(39, 167, 172);
}

li {
  list-style: none;
}

.leaderboard-container {
  display: flex;
  gap: 40px;
  margin-left: 30%;
  margin-top: 10%;
}

.score-container {
  border: 2px solid #fff;
  background: #fff;
  border-radius: 30px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.recent-score-button {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#scores {
  border: 2px solid rgb(39, 167, 172);
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
}

.input-score-container {
  border: 2px solid #fff;
  background: #fff;
  border-radius: 30px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title-two {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 10px;
}

.score-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10px;
}

input {
  border: 2px solid rgb(39, 167, 172);
  border-radius: 4px;
  padding: 5%;
}

input::placeholder {
  font-family: 'Comic Neue', cursive;
  color: black;
}

.sb-btn {
  position: relative;
  left: 125px;
  margin-top: 20px;
}

button {
  background: rgb(39, 167, 172);
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 10px;
}
